@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #222;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 0.65rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
